################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Finished sample/Marvin.IDP/obj
/Starter files/.vs/TourManagement/v15/Server/sqlite3
/Starter files/TourManagement.API/obj/Debug/netcoreapp2.1
Starter files/.vs/TourManagement/v15/.suo
/bin/Debug/netcoreapp2.1/TourManagement.API.dll
